<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
    <div class="main-cont">
        <div class="profile-card">
            <div class="profile">
                <img src="../imgs/profile_img.jpg" alt="profile">
                <div class="profile-txt">
                    <p class="name">Ana</p>
                    <p class="bio">I'm a programmer living in Vancuver</p>
                </div>
            </div>
            <button>Change profile</button>
        </div>
        <p class="main-txt">Welcome Home</p>
    </div>
</body>
</html>
